<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin">Welcome Screen </h4>
    <div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: STYLISH TABLE -->
<div class="container-fluid container-fullw">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div class="load1" ng-class="{csspinner:isSendingData}">
                        <form  name="Form" id="form1" novalidate="" ng-submit="form.submit(Form)" class="ng-pristine ng-invalid ng-invalid-required ng-valid-email ng-valid-compare-to ng-valid-pattern ng-valid-minlength ng-valid-maxlength ng-valid-max ng-valid-min">
                            <h5 class="over-title margin-bottom-15">
                                <span class="text-bold"> Welcome Screen </span>
                            </h5>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12">
                                    <div class="panel panel-transparent">
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Welcome Message 
                                                </label>
                                                <span class="pull-right text-extra-small text-dark text-right" ng-bind-html="smsCounterText1"></span>
                                                <textarea type="text" placeholder="Enter Welcome Message" class="form-control autosize area-animated msd-elastic: \n;" ng-model="newTmpltmsgs['welcome-message']" required tooltip-enable="!inputModel" tooltip-trigger="mouseenter" tooltip-placement="top" uib-tooltip="Use shortcodes {{ '{' +'{cstName}' + '}' }}, where you wish to insert the Customer Name"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Welcome Message For Repeat Customer 
                                                </label>
                                                <span class="pull-right text-extra-small text-dark text-right" ng-bind-html="smsCounterText2"></span>
                                                <textarea class="form-control autosize area-animated msd-elastic: \n;" required ng-model="newTmpltmsgs['welcome-message-repeat']" tooltip-enable="!inputModel" tooltip-trigger="mouseenter" tooltip-placement="top" uib-tooltip="Use shortcodes {{ '{' +'{cstName}' + '}' }}, where you wish to insert the Customer Name"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Welcome Screen Text <span class="symbol required"></span>
                                                </label>
                                                <textarea class="form-control autosize area-animated msd-elastic: \n;" required ng-model="newTmpltmsgs['welcome-message-screen-text']"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Discount On Next Visit <span class="symbol required"></span>
                                                </label>
                                                <span class="pull-right text-extra-small text-dark text-right" ng-bind-html="smsCounterText3"></span>
                                                <textarea class="form-control autosize area-animated msd-elastic: \n;" required ng-model="newTmpltmsgs['discount-on-next-visit']"  tooltip-enable="!inputModel" tooltip-trigger="mouseenter" tooltip-placement="top" uib-tooltip="Use shortcodes {{ '{' +'{cstName}' + '}' }}, where you wish to insert the Customer Name"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary">
                                                    Submit
                                                </button>
                                                <button type="submit" class="btn btn-o btn-primary">
                                                    Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>