<!-- start: SEARCH FORM -->
<div class="search-form hidden-md hidden-lg">
    <form class="navbar-form" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="{{ 'search.PLACEHOLDER' | translate }}">
            <button class="btn search-button" type="submit">
                <i class="ti-search"></i>
            </button>
        </div>
    </form>
</div>
<!-- end: SEARCH FORM -->
<!-- start: USER OPTIONS -->
<div class="nav-user-wrapper">
    <div class="media">
        <div class="media-left">
            <a class="profile-card-photo" href="#">
<!--                <img alt="" src="/images/avatar-1.jpg">-->
                <letter-icon data="{{selectedStore.name}}" color="{{pastelColour(selectedStore.name)}}" char-count="2" size="md"></letter-icon>
            </a>
        </div>
        <div class="media-body">
            <span class="media-heading text-white">{{selectedStore.brand.client.name}}</span>
            <div class="text-small text-white-transparent">
                {{selectedStore.brand.client.contact_no}}<br>
<!--                Left SMS: {{user.sms_quantity}}<br>
                Left E-mails: {{user.sms_sent}}-->
            </div>
        </div>

        <div class="media-middle" style="margin-left: 16%;">
            <div uib-dropdown is-open="status.isopen">
                <a href class="dropdown-toggle btn btn-transparent text-white" uib-dropdown-toggle>
                    {{selectedStore.name}}
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu pull-right animated fadeInRight">
                    <li data-ng-repeat="strs in mystores">
                        <a data-ng-click="$parent.setStore(strs.id)" ><b>{{strs.name}}</b><br/>
                            <span class="text-overflow">{{strs.address}}</span>
                        </a>
                    </li>
<!--                    <li>
                        <a ui-sref="app.pages.calendar" translate="topbar.user.CALENDAR"> My Calendar </a>
                    </li>
                    <li>
                        <a ui-sref="app.pages.messages" translate="topbar.user.MESSAGES"> My Messages (3) </a>
                    </li>
                    <li>
                        <a ui-sref="login.lockscreen" translate="topbar.user.LOCKSCREEN"> Lock Screen </a>
                    </li>-->
                    <li class="divider"></li>
                    <li>
                        <a href="/#/clients/changepwd"> Change Password </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/clients/logout"> Log Out </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end: USER OPTIONS -->
<!-- start: SIDEBAR -->
<nav data-ng-include=" '/views/partials/nav.html' "></nav>
<!-- end: SIDEBAR -->
<style>
    .text-overflow{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: normal;
    }
    </style>